
  <section style="background-color: #f9f7f6; min-height: 400px; width:100%;">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">

        <div class="mdc-layout-grid__cell--span-12" style="padding-top: 38px;">
          <div class="flexView" style="">
              <div class="flexView" style="flex-direction: row; height: unset;">
                <div style="margin: 15px; padding-top: 20px;">
                  <span style="color: #ef404f; font-size: 80px; margin-left: 0;
                  margin-right: 0;
                  width: 80px;
                  height: 80px;" class="mdc-list-item__graphic material-icons">favorite</span>
                </div>
                <div>
                    <h2>
                      We encourage contribution
                    </h2>
                </div>
              </div>
              <div style="text-align: center;">
                Please, feel free as a developer to contribute and improve {{site.main_docs_name}}.
              </div>
            </div>
          </div>
          <div class="mdc-layout-grid__cell--span-12">
            <div class="flexView">
              <h4>Top 8 authors {{site.main_docs_name}}</h4>
            </div>
          </div>
      </div>
    </div>
    <div class="mdc-layout-grid" style="padding-bottom: 30px;">
      <div class="mdc-layout-grid__inner" id="contributors-container">
      </div>
    </div>
  </section>
  <script>
      const printContributors = () => {
        var node = ""
        var avatar_base_url = '{{ site.avatar_base_url | append: "/"}}';
        const contr = reposHandler.contributors.slice(0, 8);
        contr.forEach(element => {
          node = `${node}
          <div class="mdc-layout-grid__cell--span-3">
            <div class="flexViewRow">
              <div style="width: 50px;">
                <img src="${avatar_base_url}${element.name}" style="height: 40px; margin-right: 10px;" />
              </div>
              <div class="flexView" style="justify-content: flex-start; align-items: flex-start;">
                <div>
                  <a href="https://github.schibsted.io/${element.name}">
                    @${element.name}
                  </a>
                </div>
                <div>
                  <span style="font-size: 12px;">${element.count} pages</span>
                </div>
              </div>
            </div>
          </div>`
        });
        document.getElementById("contributors-container").innerHTML = node;
      }
      addToHook("REPOS_LOADED", printContributors);
    </script>