---
layout: default
---
<main class="main-content-innner-index">
  <section class="site-promotion">
      <div class="flexView" style="flex-direction: column;">
        <img src="{{ '/_assets/images/theme/site-promo.svg' | prepend: site.main_docs_repo_url}}" width="45%" />
        <h1 style="line-height: 3.5rem;">{{site.title}}</h1>
        <h5>{{site.description}}</h5>
        <div class="flexViewRow" style="height: unset; width: 400px; margin-top: 25px;">
          <div class="flexView" style="height: 50px; width: 50px; margin: 10px;">
              <a href="https://pages.github.com/" target="_blank">
                <img src="{{ '/assets/images/theme/github-pages-logo.svg' | prepend: site.baseurl}}" width="125" />
              </a>
          </div>
        </div>
      </div>
    </section>
    <section style="padding: 30px 0 30px 0;">
      <div class="mdc-layout-grid">
        <div class="mdc-layout-grid__inner">
          <div class="mdc-layout-grid__cell--span-12">
            <div class="flexView">
              <div class="mobile-reset-container" style="width: 800px; margin: 20px; 0 20px 0">
                  <h2>Classrooms and pages</h2>
                <div class="mdc-list-group">
                  {% for site_collection in site.collections %}
                    {% assign collection_title = site_collection.title %}
                    {% assign collection_tags = site_collection.tags %}
                    {% assign docs = site_collection.docs | sort: 'index' %}
                    {% assign collection_docs_size = docs | size %}
                    {% if collection_docs_size > 0 %}
                      <h6 class="mdc-list-group__subheader">{{collection_title}}</h6>
                      <ul class="mdc-list">
                        <li role="separator" class="mdc-list-divider"></li>
                        {% for doc in docs %}
                          <li class="mdc-list-item">
                              <span class="mdc-list-item__graphic material-icons" aria-hidden="true">description</span>
                              <span class="mdc-list-item__text">
                                <a href="{{ doc.url | prepend: site.baseurl}}">{{doc.title}}</a>
                              </span>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div class="mobile-reset-container" style="width: 800px; margin: 20px; 0 20px 0">
                {{ content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</main>
<section style="padding: 30px 0 30px 0; background-color: #f9f7f6;" >
  <div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
      <div class="mdc-layout-grid__cell--span-12">
        <div class="flexView">
          <h4>View the code</h4>
          <div class="mobile-reset-container" style="min-width: 800px; min-height: 100px; margin: 20px; 0 20px 0">
              <div class="flexViewRow">
                  <a href="{{site.repository_host_url}}/{{site.repository}}">
                    <img src="{{ '/assets/images/theme/github-icon.svg' | prepend: site.baseurl}}" width="64" style="padding-right: 16px;" />
                  </a>
                  <a class="mobile-remove" href="{{site.repository_host_url}}{{site.baseurl}}">
                    @{{site.repository_name}}
                  </a>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% include footer.html %}